1)Area of Triangle:
Given  the  lengths  of  three  sides  of  a  triangle,  calculate  the  area  of the triangle.

In [31]:
a = int(input("Enter the one side of triangle:"))
b = int(input("Enter the base of triangle:"))
c = int(input("Enter the side of triangle:"))
s = (a+b+c)/2
print(s)
area = (s*(s-a)*(s-b)*(s-c))**0.5
print("Area of triangle is :",area)

Enter the one side of triangle:12
Enter the base of triangle:35
Enter the side of triangle:37
42.0
Area of triangle is : 210.0

2)Take a string from end user and check if the value is palindrome or not

In [ ]:
a =input("Enter a string to check whether it is palindrome or not:")
b = a
b =b[::-1]
if a == b:
  print("Given string is palindrome")
else:
  print("Given string is not a palindrome")

Enter a string to check whether it is palindrome or not:madam
Given string is palindrome

3)Write a program that reads a year from the user and displays a message Indicating whether or not it is a leap year

In [ ]:
year = int(input("Enetr year:"))
if (year%4 ==0) and (year%100!=0) or(year%400==0):
  print("Given year is a leap year")
else:
  print("Given year is not a leap year")

Enetr year:2000
Given year is a leap year

4.   Space To Hyphen problem : Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.Input: “ This program converts spaces into hyphen”      Output:     “ This-program-converts-spaces-into-hyphen”

In [ ]:
a = input("Enter a string:")
for i in range(0,len(a)):
  if (a[i] == " "):
    a = a.replace(a[i],"-")
print(a)

Enter a string:This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5.  Unique Sort problem :
  Take  a  string  as  input  that  accepts  a  comma  separated  sequence  of  words as input and prints the unique words in sorted form (alphanumerically).*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
a = input("Enter a comma separated sequence of words ")
b = a.split(",")
b = set(b)
b = list(b)
b = sorted(b)
b = ",".join(b)
print(b)

Enter a comma separated sequence of words  orange, white, red, cyan, green, magenta, cyan, pink, white
[' orange', ' white', ' red', ' cyan', ' green', ' magenta', ' cyan', ' pink', ' white']
 cyan, green, magenta, orange, pink, red, white

Another method for 5th question

In [ ]:
items = input("Enter a comma separated sequence of words")
a = [b for b in items.split(",")]
print(",".join(sorted(list(set(a)))))

Input comma separated sequence of words orange, white, red, cyan, green, magenta, cyan, pink, white
 cyan, green, magenta, orange, pink, red, white

6)Tax Calculator:   Ask  the  user  for  their  monthly  salary.  Calculate  whether  they  have  to  pay tax and if so, how much is that amount .Print the result

In [ ]:
user = int(input("Enter the monthly salary:"))
if (user <=250000):
  print("Nill")
elif ((user > 250000) and (user <=500000)):
  percent = user*0.05
  print("amount to be paid=",percent)
elif ((user >500000) and (user <=750000)):
  percent = user*0.1
  print("amount to be paid=",percent)
elif ((user >750000) and (user <=1000000)):
  percent = user*0.15
  print("amount to be paid=",percent)
elif ((user >1000000) and (user <=1250000)):
  percent = user*0.2
  print("amount to be paid=",percent)
elif ((user >1250000) and (user <=1500000)):
  percent = user*0.25
  print("amount to be paid=",percent)
else:
  percent = user*0.30
  print("amount to be paid=",percent)

Enter the monthly salary:500001
amount to be paid= 50000.100000000006

7.  Take a list of integers as an argument, and converts it into a single integer (return the integer).*Input*: [11, 33, 50]*Output*: 113350

In [ ]:
list1 = [11,33,50]
for i in list1:
  print(i,end="")

113350

8.  Units of Time: 
Create  a  program  that  reads  duration  from  the  user  as  a  number  of  days, hours,  minutes,  and  seconds.  Compute  and  display  the  total  number  of seconds represented by this duration.

In [ ]:
days = int(input("Enter the no of days:"))
hours =int(input("Enter the no of hours:"))
seconds = int(input("Enter the no of seconds:"))
day = days*86400
hour = hours*60
print("Total No of seconds in", days,"days :",hours,"hours :",seconds,"seconds is :",day+hour+seconds )

Enter the no of days:1
Enter the no of hours:1
Enter the no of seconds:1
Total No of seconds in 1 days : 1 hours : 1 seconds is : 86461

9.  Sort 3 Integers: Given  three  integers  (given  through  user  input),  sort  the  numbers  using |min| and  |max| functions.

In [ ]:
n1 = int(input("Enter 1st integer:"))
n2 = int(input("Enter 2nd integer:"))
n3 = int(input("Enter 3rd integer:"))
max_num = max(n1,max(n2,n3))
min_num = min(n1,min(n2,n3))
middle_num = (n1+n2+n3) - (max_num+min_num)
print(min_num,middle_num,max_num)

Enter 1st integer:7
Enter 2nd integer:9
Enter 3rd integer:3
3 7 9

10.Write  a  program  that  reads  a  date  from  the  user  and  computes  its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
year = int(input("Enter a year:"))
if (year%400 ==0):
  leap_year = True
elif (year%100==0):
  leap_year = False
elif (year%4==0):
  leap_year = True
else:
  leap_year = False
month = int(input("Enter a month:"))
if month in (1,3,5,7,8,10,12):
  month_length = 31
elif month == 2:
  if leap_year ==True:
    month_length =29
  else:
    month_length = 28
else:
  month_lenght = 30

day = int(input("Enter a day"))
if day < month_length:
  day +=1
else:
  day = 1
  if month == 12:
    month = 1
    year+=1
  else:
    month+=1
print("Immediate successor of the given date is:",year,"-",month,"-",day)

Enter a year:2000
Enter a month:08
Enter a day10
Immediate successor of the given date is: 2000 - 8 - 11

11.Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]Output: 121111200

In [ ]:
list1 = [45 ,3,2,89,72,1,10,7]
product = 1
for i in list1:
  product = product*i
print(product)

121111200

12.Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired outputOutput: Out_list=[11,14,42,123,90]

In [ ]:
l1 = [5, 6,8 ,34,89,1]
l2 = []
for i in range(0,6):
  if i!=5:
    l2.append(l1[i]+l1[i+1])
print(l2)

[11, 14, 42, 123, 90]

13. Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired outputOutput: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
Num_tuple = (5, 6,8 ,3,9,1) 
l1 = []
for i in range(0,6):
  if i == 0:
    l1.append(Num_tuple[0])
  if i ==1:
    l1.append(Num_tuple[0]*Num_tuple[1])
  if i ==2:
    l1.append(Num_tuple[0]*Num_tuple[1]*Num_tuple[2])
  if i ==3:
    l1.append(Num_tuple[0]*Num_tuple[1]*Num_tuple[2]*Num_tuple[3])
  if i ==4:
    l1.append(Num_tuple[0]*Num_tuple[1]*Num_tuple[2]*Num_tuple[3]*Num_tuple[4])
  if i == 5:
    l1.append(Num_tuple[0]*Num_tuple[1]*Num_tuple[2]*Num_tuple[3]*Num_tuple[4]*Num_tuple[5])
print(l1)

[5, 30, 240, 720, 6480, 6480]

14. Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
num = int(input("Enter the number:"))
temp = num
l1 = []
while num>0:
  rem = num%10
  l1.append(rem)
  num = num//10
l2 =[]
length = len(l1)
for i in range((length-1),-1,-1):
  l2.append(l1[i])
print(l2)

Enter the number:586392
[5, 8, 6, 3, 9, 2]

15.Write a program that finds the longest palindromic substring of a given string

In [ ]:
s = input("Enter the string:")
a = s.split(" ")
c =[]
for i in a:
  b = i
  b =b[::-1]
  if i == b:
    c.append(i)
longest = max(c,key=len)
print(longest)

Enter the string:sindhuhdnis madam is the abcdefedcba
sindhuhdnis

16. Substring Check (Bug Funny)Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.First two lines of input:1010110010          101101110111011           10011First two lines of output:10

In [ ]:
a = input("Enter a binary string with length 10:")
b = input("Enter the another binary string with length 5:")
check = len(b)
Flag = 0
for i in range(check):
	if (a[i:i+5] == b):
		Flag=1

print(Flag)

Enter a binary string with length 10:1010110010
Enter the another binary string with length 5:10110
1

17.  POUR1 - Pouring waterGiven two vessels, one of which can accommodate a litres of water and the other - b litres   of   water,   determine   the   number   of   steps   required   to   obtain exactly c litres of water in one of the vessels.At the beginning both vessels are empty. The following operations are counted as 'steps':emptying a vessel,filling a vessel,pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.InputAn integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input  data,  each  consisting  of  three  positive  integers a,  b,  c,  not  larger  than 40000, given in separate lines.OutputFor each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.
ExampleSample input:2523234Sample output:2-1

In [25]:
def gcd(a, b): 
    if b==0: 
        return a 
    return gcd(b, a%b) 
  
  
    def Pour(toJug, fromJug, d): 
  
  
    
      c = fromJug 
      e  = 0
  
      step = 1
    while ((c  is not d) and (e is not d)): 
  
          
        temp = min(c, toJug-e) 
  
 
        e = e + temp 
        c = c - temp 
  
        step =  step + 1
        if ((c == d) or (e == d)): 
            break
  
        if c == 0: 
            c = fromJug 
            step =  step + 1
  
        if e == toJug: 
            e = 0
            step =  step + 1
              
    return step 
  

def minSteps(n, m, d): 
    if m> n: 
        temp = m 
        m = n 
        n = temp 
    if d>n:
      return-1
          
    if (d%(gcd(n,m)) is not 0): 
        return -1
      
   
    return(min(Pour(n,m,d), Pour(m,n,d))) 
  

if __name__ == '__main__': 
  
    n = int(input("Enter how many liters of water n vessel can accommodate: "))
    m = int(input("Enter how many liters of water m vessel can accommodate: "))
    d = int(input("Enter how many liters of water exactly you want in a vessel: "))
  
    print('Minimum number of steps required is', minSteps(n, m, d))

Enter how many liters of water n vessel can accommodate: 5
Enter how many liters of water m vessel can accommodate: 2
Enter how many liters of water exactly you want in a vessel: 3
Minimum number of steps required is 2